
  body{
    background-color: #3c4043;
    color: white ;
    font-family: 'Times New Roman', Times, serif;
  }
ul{
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
  li{
    padding: 50px;
    background-color: #F6F9FE;
    border-radius: 20px;
    width: 250px;
    height: 40px;
    color: black;
    text-align: center;
    transition: 0.5s;
  }

  li:hover{
    font-size: 15px;
    text-align: center;
    box-shadow: 5px 2.5px 2.5px black;
  }


